<!-- templates/user_location/map_view.html -->
{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Network</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        #map {
            width: 100%;
            height: 600px;
            border: 1px solid black;
        }
    </style>
</head>
<body>
    <h1>User Location Map</h1>
    <div id="map">{{ map|safe }}</div>
</body>
</html>
{% endblock content %}