{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block style %}
<style>
    #map {
        width: 100%;
        height: 600px;
        border: 1px solid black;
        margin-bottom: 20px;
    }
    
</style>
{% endblock style %}

{% block content %}


    <h1 style="text-align: center;">User Location Map</h1>
    <div id="map">{{ map|safe }}</div>

    <nav aria-label="Page navigation" class="pagination-container" >
        <ul class="pagination" style="justify-content: center; align-items: center; margin-top: 1rem;">
            {% if profiles_page.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page={{ profiles_page.previous_page_number }}">Previous</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Previous</span>
            </li>
            {% endif %}

            {% for page_num in profiles_page.paginator.page_range %}
            {% if page_num == profiles_page.number %}
            <li class="page-item active">
                <span class="page-link">{{ page_num }}</span>
            </li>
            {% else %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a>
            </li>
            {% endif %}
            {% endfor %}

            {% if profiles_page.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ profiles_page.next_page_number }}">Next</a>
            </li>
            {% else %}
            <li class="page-item disabled">
                <span class="page-link">Next</span>
            </li>
            {% endif %}
        </ul>
    </nav>

{% endblock content %}

{% block script %}
{% endblock script %}

