{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block style %}
<style>

.container {
    margin-top: 20px;
}

.filter-section {
    background-color: #f7f7f7;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.skills-filter,
.role-filter {
    margin-bottom: 20px;
}

.skills-checkbox div,
.role-filter div {
    margin-bottom: 10px;
}

.user-list {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 1, 0.15);
}

.user-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
}

.user-card {
    width: 30%;
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 2, 0.2);
    text-align: center;
}

.user-avatar img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.user-info {
    margin-top: 10px;
    text-align: center;
}

.view-profile-btn {
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #5cb85c;
    color: white;
    border-radius: 7px;
    text-decoration: none;
}

.view-profile-btn:hover {
    background-color: #48ad48;
    color: white;

}

.role {
    display: block;
    margin-bottom: 6px;
    font-size: 14px;
}

.role.mentor {
    color: green;
}

.role.learner {
    color: red;
}

.skills {
    margin-top: 10px;
    font-size: 12px;
    color: #555;
}

.skill {
    background-color: #f1f1f1;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 5px;
    font-size: 12px;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination a {
    padding: 5px 10px;
    background-color: #5cb85c;
    color: white;
    border-radius: 5px;
    text-decoration: none;
}

.pagination a:hover {
    background-color: #4cae4c;
}


</style>
{% endblock style %}

{% block content %}
<br><br>
<div class="container">
    <div class="row">
        <!-- Filters Section (Left) -->
        <div class="col-md-3">
          <div class="filters" style="padding: 20px; background-color: #f9f9f9; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 1, 0.15); margin-right: 20px;">
            <form method="GET">
                <!-- Search Input -->
                 <div>
                <input type="text" name="q" placeholder="Search by username or name" value="{{ query|default:'' }}" style="display: none;"/>
            </div>

             <!-- Search by Skills -->
             {% if query|length > 1 and query %}
             <label>
                 <input type="checkbox" name="searched_skill" value="searched_skill" style="margin-bottom: 5px;"
                        {% if searched_skill %}checked{% endif %}> Search By Skills
             </label>
             <hr>
             {% endif %}
             

                <!-- Filter by Skills -->
                <h4>Filter by Top Skills</h4>
                <div>
                    {% for skill in most_used_skills %}
                    <div style="margin-bottom: 10px;">
                        <label>
                            <input type="checkbox" name="skills" value="{{ skill }}"
                                   {% if skill in selected_skills %}checked{% endif %}>
                            {{ skill|truncatechars:20|capfirst }}
                        </label>
                    </div>
                    {% endfor %}
                </div>
                <hr>
                <h4>Filter by Role</h4>
                <div>
                    <label>
                        <input type="radio" name="role" value="Mentor"
                               {% if role_filter == 'Mentor' %}checked{% endif %}>
                        Mentor
                    </label><br>
                    <label>
                        <input type="radio" name="role" value="Learner"
                               {% if role_filter == 'Learner' %}checked{% endif %}>
                        Learner
                    </label><br>
                    <label>
                        <input type="radio" name="role" value=""
                               {% if not role_filter %}checked{% endif %}>
                        All
                    </label>
                </div>
            
                <button type="submit" class="btn btn-primary" style="margin-top: 10px;">Apply Filters</button>

            </form>
            
          </div>
      </div>

        <!-- Users Section (Center) -->
        <div class="col-md-9">
            <div class="user-list">
                <h3>Search Results</h3>
                <div class="user-cards">
                    {% for user in users %}
                    <div class="user-card">
                        <a href="{% url 'profile' user %}" class="user-avatar">
                            <img src="{{ user.profile.image.url }}" alt="{{ user.username }}">
                        </a>
                        <div class="user-info">
                          <a href="{% url 'profile' user %}" style="text-decoration: none; color: black; font-weight: 400;">
                              {{ user.profile.first_name|title }} {{ user.profile.last_name|title }}
                          </a>
                          <p style="margin:0.1rem; font-weight: 100;">@{{ user.username }}</p>
                      
                          <!-- Display Role on a new line -->
                          <div>
                              <span class="role {% if user.profile.role == 'Mentor' %}mentor{% else %}learner{% endif %}">
                                  {{ user.profile.role }}
                              </span>
                          </div>
                      
                          <!-- Display View Profile button on a new line -->
                          <div>
                              <a href="{% url 'profile' user %}" class="view-profile-btn">View Profile</a>
                          </div>
                      </div>
                      
                    </div>
                    {% empty %}
                    <p>No users found matching your criteria.</p>
                    {% endfor %}
                </div>

                <!-- Pagination -->
                <div class="pagination">
                    
                    <span class="step-links">
                        {% if users.has_previous %}
                            <a href="?q={{ query }}&page=1{% if selected_skills %}&skills={{ selected_skills|join:',' }}{% endif %}{% if role_filter %}&role={{ role_filter }}{% endif %}{% if searched_skill %}&searched_skill={{ searched_skill }}{% endif %}">&laquo; first</a>
                            <a href="?q={{ query }}&page={{ users.previous_page_number }}{% if selected_skills %}&skills={{ selected_skills|join:',' }}{% endif %}{% if role_filter %}&role={{ role_filter }}{% endif %}{% if searched_skill %}&searched_skill={{ searched_skill }}{% endif %}">previous</a>
                        {% endif %}
                
                        {% if users.has_next %}
                            <a href="?q={{ query }}&page={{ users.next_page_number }}{% if selected_skills %}&skills={{ selected_skills|join:',' }}{% endif %}{% if role_filter %}&role={{ role_filter }}{% endif %}{% if searched_skill %}&searched_skill={{ searched_skill }}{% endif %}">next</a>
                            <a href="?q={{ query }}&page={{ users.paginator.num_pages }}{% if selected_skills %}&skills={{ selected_skills|join:',' }}{% endif %}{% if role_filter %}&role={{ role_filter }}{% endif %}{% if searched_skill %}&searched_skill={{ searched_skill }}{% endif %}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <span class="current" style="font-weight: 100; display: flex; justify-content: center; align-items: center; width: 100%; margin-top: 5px;">
                    Page {{ users.number }} of {{ users.paginator.num_pages }}
                </span>
                
                
                <!-- <div class="pagination">
                    <span class="prev-page">{% if users.has_previous %}<a href="?page=1">First</a>{% endif %}</span>
                    <span class="prev-page">{% if users.has_previous %}<a href="?page={{ users.previous_page_number }}">Previous</a>{% endif %}</span>
                    <span class="next-page">{% if users.has_next %}<a href="?page={{ users.next_page_number }}">Next</a>{% endif %}</span>
                    <span class="next-page">{% if users.has_next %}<a href="?page={{ users.paginator.num_pages }}">Last</a>{% endif %}</span>
                </div> -->
            </div>
        </div>
    </div>
</div>
{% endblock content %}
