
# Python
*.pyc
*.pyo
*.pyd
__pycache__/

# Django
*.log
*.pot
*.pyc
*.pyo

# Virtualenv
venv/
env/

# Static and Media files
media/*
!media/default.png
# static/

# Environment variables
.env
.venv
.venv.local
.env.local

# PyCharm or other IDEs
.idea/
.vscode/

# Other
*.swp