{% extends 'base.html' %}
{% load static %}
{% block content %}
<br><br>
<style>
  body {
    /* background-color: #f9f9f9; */
    font-family: Arial, sans-serif;

    background: linear-gradient(135deg, #89f7fe, #66a6ff);
    background-attachment: fixed;
    /* Fix the background to the viewport */
    background-size: cover;
    /* Cover the entire viewport */


  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
  }

  .form-data {
    background: #ffffff;
    border-radius: 12px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    width: 100%;
    margin: auto;
  }

  .logo h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
    text-align: center;
  }

  /* #fileInput {
    display: none;
  } */

  label[for="fileInput"] {
    display: block;
    text-align: center;
    cursor: pointer;
  }

  label[for="fileInput"] img {
    width: 100%;
    max-width: 200px;
    margin-top: -25px;
  }

  textarea,
  input[type="text"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }

  .form-btn {
    background-color: rgb(63, 224, 125);
    color: white;
    border: none;
    border-radius: 20px;
    padding: 12px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
  }

  .form-btn:hover {
    background-color: rgb(53, 190, 105);
  }
</style>
<div id="wrapper">
  <div class="container">
    <div class="form-data">
      <form action="" method="POST" enctype="multipart/form-data"
        style="display: flex; flex-direction: column; gap: 20px;">
        {% csrf_token %}
        <div class="logo">
          <h3>Create New Post</h3>
          <hr>
        </div>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
    

        <span style="padding: 3px; font-size: 20px; margin-bottom: 1px;">Upload Picture</span><br>
        <label for="fileInput">
          <img src="{% static 'assets2/images/upload_area.png' %}" alt="Upload Area">
        </label>
        <!-- <input type="file" name="picture" id="fileInput"> -->
        <input type="file" multiple name="pictures" id="fileInput" class="form-control" style="margin: 4px 0px;">

        <textarea name="caption" placeholder="Write a caption..."></textarea>
        <input type="text" name="tags" placeholder="Enter tags separated by commas">
        <button class="form-btn" type="submit">Post</button>
      </form>
    </div>
  </div>
</div>
{% endblock content %}